

@use "../../utils/mixins" as mx;

main{
    background-image: url("/public/images/bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.app-banner{
    width:100%;
    padding:8px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
    @include mx.flex_center;
    justify-content: space-between;
    z-index: 100;

    @include mx.breakpoint(medium){
        padding-left:5%;
        padding-right:5%;
    }

    .brand{
        font-size: 2rem;
        text-transform: uppercase;

        span:nth-child(2){
            color:red;
            font-weight:400;
        }
    }

    .icons-container{
        @include mx.flex_center;
        gap:12px;
    }

    .cart-icon{
        position: relative;

        i{
            font-size: 1.6rem;
        }

        .counter{
            width:15px;
            height: 15px;
            color:#fff;
            background-color: red;
            border-radius: 50%;
            padding:2px;
            position:absolute;
            top:-8px;
            right:-10px;
            text-align: center;
        }
    }
}

.progress-card-container{
    @include mx.flex_center(column);
    gap:16px;

    @include mx.breakpoint(medium){
        flex-direction: row;
        gap:12px;
        padding:12px;
    }
}

.gauge-container{
    @include mx.flex_center;
    gap:12px;
    padding:12px;

    @include mx.breakpoint(medium){
        gap:24px;
    }
}