@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@font-face {
  font-family: CreativeMind;
  src: url(../fonts/creative_mind.woff) format("woff");
  src: url(../fonts/creative_mind.woff2) format("woff2");
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

input,
textarea,
button {
  border: none;
  outline: none;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.125);
  padding: 4px 8px;
}
.searchbar i {
  font-size: 1.6rem;
}
.searchbar input {
  width: 100%;
  height: 100%;
  padding: 0 8px;
}
.searchbar input, .searchbar i.arrow-icon {
  display: none;
}

.gauge {
  width: clamp(100px, 100%, 180px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.gauge-body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background-color: rgb(221, 221, 221);
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  position: relative;
  overflow: hidden;
}
.gauge-fill {
  width: inherit;
  height: 100%;
  background-color: rgba(255, 68, 0, 0.5);
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: center top;
  transform: rotate(0turn);
  transition: transform 0.5s ease-out;
}
.gauge-cover {
  width: 75%;
  height: 150%;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 20%;
  color: #222222;
}
.gauge-label {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  background-color: rgba(255, 68, 0, 0.5);
  padding: 4px 12px;
  border-radius: 6px;
}

.circular-progressbar {
  position: relative;
}
.circular-progressbar svg {
  width: 110px;
  height: 110px;
}
.circular-progressbar svg circle {
  fill: none;
  stroke: blueviolet;
  stroke-width: 12px;
  stroke-dasharray: 284px;
  stroke-dashoffset: 284px;
  animation: circle 0.5s forwards;
}
@keyframes circle {
  to {
    stroke-dashoffset: 142px;
  }
}
.circular-progressbar-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: blueviolet;
  font-size: 2rem;
  font-weight: 600;
}

.progress-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  background-color: rgba(197, 239, 255, 0.2549019608);
  padding: 0 8px 8px;
  margin: 0 12px;
}
.progress-card-icon {
  font-size: 4rem;
  font-weight: 600;
  color: blueviolet;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 12px;
  border-radius: 4px;
}
.progress-card-label {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.app-banner {
  width: 100%;
  padding: 8px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
.app-banner .brand {
  font-size: 2rem;
  text-transform: uppercase;
}
.app-banner .brand span:nth-child(2) {
  color: red;
  font-weight: 400;
}
.app-banner .icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.app-banner .cart-icon {
  position: relative;
}
.app-banner .cart-icon i {
  font-size: 1.6rem;
}
.app-banner .cart-icon .counter {
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  padding: 2px;
  position: absolute;
  top: -8px;
  right: -10px;
  text-align: center;
}

.progress-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.gauge-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

.dashboard-navigation {
  position: fixed;
  top: 51px;
  left: 0;
  height: 100vh;
  padding: 8px 0;
  background-color: #fff;
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
.dashboard-navigation--show {
  transform: translateX(0);
}
.dashboard-navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style-type: none;
  padding: 8px 0;
  width: 100%;
}
.dashboard-navigation ul li {
  width: 100%;
}
.dashboard-navigation ul:nth-child(even)::before {
  content: "";
  width: 60%;
  height: 1px;
  background-color: gray;
}
.dashboard-navigation ul .nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #333333;
  padding: 0 4px;
}
.dashboard-navigation ul .nav-link-active {
  border-right: 3px solid #ff0000;
}
.dashboard-navigation ul .nav-link:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(128, 128, 128, 0.1);
}
.dashboard-navigation ul .nav-link i {
  font-size: 2.4rem;
}/*# sourceMappingURL=app.css.map */