@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@font-face {
  font-family: CreativeMind;
  src: url(../fonts/creative_mind.woff) format("woff");
  src: url(../fonts/creative_mind.woff2) format("woff2");
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

input,
textarea,
button {
  border: none;
  outline: none;
  cursor: pointer;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.125);
  padding: 4px 8px;
}
@media screen and (min-width: 700px) {
  .searchbar {
    width: clamp(100px, 100%, 250px);
  }
}
.searchbar i {
  font-size: 1.6rem;
}
.searchbar input {
  width: 100%;
  height: 100%;
  padding: 0 8px;
}
.searchbar input, .searchbar i.arrow-icon {
  display: none;
}
@media screen and (min-width: 700px) {
  .searchbar input, .searchbar i.arrow-icon {
    display: block;
  }
}

.gauge {
  width: clamp(100px, 100%, 180px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.gauge-body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background-color: rgb(221, 221, 221);
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  position: relative;
  overflow: hidden;
}
.gauge-fill {
  width: inherit;
  height: 100%;
  background-color: rgba(255, 68, 0, 0.5);
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: center top;
  transform: rotate(0turn);
  transition: transform 0.5s ease-out;
}
.gauge-cover {
  width: 75%;
  height: 150%;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 20%;
  color: #222222;
}
.gauge-label {
  font-size: 1.2rem;
  text-align: center;
  background-color: #fff;
  padding: 4px 12px;
  border-radius: 16px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 700px) {
  .gauge-label {
    font-weight: 600;
  }
}

.circular-progressbar {
  position: relative;
}
.circular-progressbar svg {
  width: 110px;
  height: 110px;
}
.circular-progressbar svg circle {
  fill: none;
  stroke: blueviolet;
  stroke-width: 12px;
  stroke-dasharray: 284px;
  stroke-dashoffset: 284px;
  animation: circle 0.5s forwards;
}
@keyframes circle {
  to {
    stroke-dashoffset: 142px;
  }
}
.circular-progressbar-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: blueviolet;
  font-size: 2rem;
  font-weight: 600;
}

.progress-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
  width: clamp(250px, 96%, 320px);
  border: 1px solid #c2c2c2;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7254901961);
  padding: 16px 8px 8px;
}
@media screen and (min-width: 700px) {
  .progress-card {
    flex-direction: column;
    max-width: 250px;
    text-align: center;
  }
}
.progress-card-icon {
  font-size: 4rem;
  font-weight: 600;
  color: blueviolet;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 12px;
  border-radius: 4px;
}
.progress-card-label {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 8px;
}
@media screen and (min-width: 700px) {
  .progress-card-label {
    text-align: center;
    order: 3;
  }
}
@media screen and (min-width: 700px) {
  .progress-card .circular-progressbar::before, .progress-card .circular-progressbar::after {
    content: "";
    width: 80%;
    height: 2px;
    background-color: gray;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .progress-card .circular-progressbar:after {
    bottom: 0;
  }
}

.dashboard-navigation {
  position: fixed;
  top: 0px;
  top: 51px;
  left: 0;
  height: 100vh;
  padding: 2px 0;
  background-color: #fff;
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 0.3s;
}
@media screen and (min-width: 1024px) {
  .dashboard-navigation {
    top: 0;
    transition: transform 0.2s;
    transform: translateX(0);
  }
}
.dashboard-navigation--show {
  transform: translateX(0);
}
.dashboard-navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style-type: none;
  padding: 8px 0;
  width: 100%;
}
.dashboard-navigation ul li {
  width: 100%;
}
.dashboard-navigation ul:nth-child(even)::before, .dashboard-navigation ul:nth-child(even)::after {
  content: "";
  display: block;
  width: 60%;
  height: 1px;
  background-color: gray;
}
.dashboard-navigation ul .nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #333333;
  padding: 0 4px;
}
.dashboard-navigation ul .nav-link-active {
  border-right: 3px solid #ff0000;
}
.dashboard-navigation ul .nav-link:hover {
  transition: color 0.2s;
  color: #bb0000;
}
.dashboard-navigation ul .nav-link i {
  font-size: 2.4rem;
}

main {
  background-image: url("/public/images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  height: 100vh;
}

@media screen and (min-width: 1024px) {
  .home-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

.app-banner {
  width: 100%;
  padding: 8px 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background-color: #fff;
}
@media screen and (min-width: 700px) {
  .app-banner {
    padding-left: 5%;
    padding-right: 5%;
  }
}
.app-banner .brand {
  font-size: 2rem;
  text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
  .app-banner .brand {
    transition: padding 0.2s;
    padding-left: 8px;
  }
}
.app-banner .brand span:nth-child(2) {
  color: red;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .app-banner .brand i.humburger {
    display: none;
  }
}
.app-banner .icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.app-banner .cart-icon {
  position: relative;
}
.app-banner .cart-icon i {
  font-size: 1.6rem;
}
.app-banner .cart-icon .counter {
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  padding: 2px;
  position: absolute;
  top: -8px;
  right: -10px;
  text-align: center;
}

.resume-container {
  height: max-content;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  margin-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 700px) {
  .resume-container {
    margin: 32px auto;
  }
}
@media screen and (min-width: 1024px) {
  .resume-container {
    width: clamp(700px, 80%, 900px);
    margin-left: unset;
    margin-right: unset;
  }
}

.action-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  justify-content: space-evenly;
  list-style-type: none;
  width: 40%;
  background-color: rgb(133, 196, 255);
  padding: 12px;
  margin: 0 auto;
  min-width: max-content;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: 1px solid #fff;
  transform: translateY(-92%);
}
.action-buttons-container li:not(:nth-last-child(1)) {
  padding-right: 16px;
  border-right: 1px solid gray;
}
.action-buttons-container .action-button {
  color: black;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 600;
  transition: color 0.2s;
}
.action-buttons-container .action-button:hover {
  color: blueviolet;
}

.progress-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 700px) {
  .progress-card-container {
    flex-direction: row;
    gap: 12px;
    padding: 12px;
  }
}

.gauge-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px;
}
@media screen and (min-width: 700px) {
  .gauge-container {
    gap: 24px;
  }
}

.financial-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .financial-review {
    margin: unset;
  }
}
.financial-review h4 {
  font-size: 2rem;
}
.financial-review ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: clamp(120px, 100%, 300px);
  transition: width 0.3s;
}
@media screen and (min-width: 700px) {
  .financial-review ul {
    flex-direction: row;
    gap: 12px;
  }
}
@media screen and (min-width: 1024px) {
  .financial-review ul {
    flex-direction: column;
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .financial-review ul {
    width: 300px;
  }
}
.financial-review ul li {
  width: 100%;
  min-width: 120px;
  list-style-type: none;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  padding: 12px;
  background-color: green;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
}
.financial-review ul li .small {
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-top: 4px;
  position: absolute;
  top: -50%;
  left: 0;
}
.financial-review ul li:nth-child(1) {
  background-color: rgb(255, 244, 184);
}
.financial-review ul li:nth-child(2) {
  background-color: rgba(197, 221, 109, 0.836);
}
.financial-review ul li:nth-child(3) {
  background-color: rgb(180, 196, 122);
}
.financial-review ul li:nth-child(4) {
  background-color: rgb(250, 179, 179);
}
.financial-review ul li:nth-child(5) {
  background-color: rgb(93, 211, 93);
}

.stock-container {
  padding-left: 100px;
}

.table-container table {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  font-size: 1.4rem;
}
.table-container table thead tr {
  background-color: rgb(122, 175, 253);
}
.table-container table tbody tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.5);
}
.table-container table th {
  text-align: left;
}
.table-container table th, .table-container table td {
  padding: 8px;
}
.table-container table td.currency {
  text-align: right;
}

.dashboard-heading {
  background-color: rgba(255, 255, 255, 0.2);
  width: 90%;
  padding: 2rem;
  border-radius: 12px;
  margin-bottom: 48px;
  position: relative;
}
.dashboard-heading::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 9px;
  bottom: -4px;
}
.dashboard-heading-title {
  font-size: 3rem;
  margin-bottom: 8px;
}
.dashboard-heading-description {
  font-size: 1.6rem;
  font-weight: 300;
}/*# sourceMappingURL=app.css.map */