

@use "variables" as *;

@mixin fit_background{
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

@mixin flex_center($direction : row){
    display:flex;
    flex-direction:$direction;
    justify-content: center;
    align-items: center;
}

// Display flex start
@mixin flex_start($direction : row){
    display:flex;
    flex-direction:$direction;
    
    @if ($direction == row){
        justify-content: flex-start;
        align-items: center;
    }
    @else{
        justify-content: center;
        align-items: flex-start; 
    }
}

@mixin breakpoint($device){
    @media screen and (max-width:map-get($breakpoint, $device)){
        @content;
    }
}