

@use "variables" as var;

@mixin fit_background{
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

@mixin flex_center($direction : row){
    display:flex;
    flex-direction:$direction;
    justify-content: center;
    align-items: center;
}

// Display flex start
@mixin flex_start($direction : row){
    display:flex;
    flex-direction:$direction;
    
    @if ($direction == row){
        justify-content: flex-start;
        align-items: center;
    }
    @else{
        justify-content: center;
        align-items: flex-start; 
    }
}


@mixin position_center($translateX:-50%, $translateY:-50%){
    position: absolute;
    top:50%;
    left:50%;
    transform: translate($translateX, $translateY);
}

@mixin progress_colors($color:blueviolet){
    
}

@mixin breakpoint($device){
    @media screen and (max-width:map-get($breakpoint, $device)){
        @content;
    }
}