

// VARS

// Colors


// LISTS & MAPS

//Font size
$font_size:(
    level_1: 8rem,
    level_2: 4rem,
    level_3: 3rem,
    level_4: 2rem,
    normal: 1.6rem,
);

// // Breakpoints
$breakpoint: (
    mobile: 900px, //480px,
    tablet: 768px,
    laptop: 978px,
    desktop: 1024px
);





    